body {
	display: flex;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	cursor: var(--cursor);
	overflow-x: hidden;
	overflow-y: auto;
}

.main-interface {
	/* display: flex; */
	height: 60rem;
	width: 100%;
	background-color: #f1f1f1;
	margin: 0;
	padding: 0;
	margin-left: 1rem;
	margin-right: 1rem;
	text-align: center;
}

/* Navigation Bar*/
ul.nav-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	height: 48rem;
	background-color: #f1f1f1;
}

li.nav-element a {
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}

	li.nav-element a.active {
		background-color: #04AA6D;
		color: white;
	}

	li.nav-element a:hover:not(.active) {
		background-color: #555555;
		color: white;
	}

/*Signin/Signup interface*/

.gros-carre {
	width: 90rem; /* Permet une meilleur adaptation PC/Téléphone */
	max-width: 300px;
	height: 25rem;
	background-color: #a38139;
	display: flex;
	flex-direction: column;
	align-items: center; /* Centre tous a l'horizontal */
	justify-content: space-between; /* Espacement vertical fluide */

	padding: 20px 0;
	box-sizing: border-box; /* Inclut le padding dans les 300px de hauteur */
	border: 1px solid #ccc;
}

/* En-tête Connection */
.rectangle-haut {
	width: 85%;
	height: 2rem;
	background-color: #2b3a55;
	color: white;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: serif;
	font-size: 22px;
}

/* Box ID et MDP */

.label-text {
	width: auto;
	height: 2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background-color: #6a86ba;
	color: #0b0707;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: serif;
	font-weight: bold;
	font-size: 18px;
}

.champ-texte {
	width: 15rem;
	height: 2rem;
	background-color: #696969;
	border: none;
	color: white;
	text-align: center;
	font-size: 16px;
	outline: none;
}

	.champ-texte::placeholder {
		color: white; /* Met le texte en blanc car il s affiche en gris clair de base et c'est peu lisible sur du gris clair */
	}

/* Alignement des 2 boutons (CC et SC) */
.conteneur-boutons {
	width: 85%;
	max-width: 20rem; /* un peu plus large : 2 x 5rem + gap */
	margin: 1rem auto 0; /* centre horizontalement + espace sous le texte */
	display: flex;
	gap: 10px;
	justify-content: center;
}

.bouton-bas, .bouton-bas > button {
	width: auto;
	height: 2rem;
	max-width: 10rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background-color: #b0b0b0;
	border: none;
	color: white;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}

	.bouton-bas > button, .bouton-bas > button > a {
		width: 100%;
		height: 100%;
		max-width: 10rem;
		max-height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.bouton-bas > button {
		padding: 0;
	}

		.bouton-bas > button > a {
			color: inherit;
			text-decoration: none;
		}

			.bouton-bas:hover, .bouton-bas > button > a:hover {
				color: blue; /* Le texte devient bleu quand souris passe dessus */
			}

/* Contact list*/
.nav-contacts ul {
	height: 57rem;
	width: 200px;
	overflow: auto;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}

li.contact a {
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}

	li.contact a.active {
		background-color: #04AA6D;
		color: white;
	}

	li.contact a:hover:not(.active) {
		background-color: #555555;
		color: white;
	}

.pub {
	width: 100%;
	height: 100%;
	background-image: url("../images/pub1.png");
}